<header class="navbar">
    <div class="logo">
    <span class="name1">Katheryn</span>
    <span class="space"> </span> <!-- espacio visual -->
    <span class="name2">Guasca</span>
    </div>


  <nav class="nav-links">
    <a href="#">Inicio</a>
    <a href="#">Sobre mí</a>
    <a href="#">Proyectos</a>
    <a href="#">Contacto</a>
  </nav>

  <div class="social-icons">
    <a href="https://linkedin.com/in/tuusuario" target="_blank" aria-label="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/KillerZeus666" target="_blank" aria-label="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://wa.me/573013442915" target="_blank" aria-label="WhatsApp">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>
</header>
